<!-- views/step1.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>step1</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/validation.js"></script>
</head>
<body>
<div class="wrap-header-content">
    <div class="header">
        <div class="block-header">
            <div class="logo"></div>
            <div class="navigation-menu">
                <ul>
                    <li class="current">
                        <span>Happy TESTERS</span>
                        <img src='../img/menu_backgr.png' />
                    </li>
                    <li>
                        <span>Status</span>
                        <img class="image-style-short" src='../img/menu_backgr.png' />
                    </li>
                    <li>
                        <span>Invite Friends</span>
                        <img src='../img/menu_backgr.png' />
                    </li>
                    <li>
                        <span>Today's Survey</span>
                        <img class="image-style-long" src='../img/menu_backgr.png' />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="step-info">
            <div class="wrap-info">
                <h3>
                    <span>Getting your</span> AWESOME PRIZE is easy!
                </h3>
                <p>
                    <span class="first"></span>
                    <span class="text-block">Sign up and complete a survey</span>
                </p>
                <p>
                    <span class="second"></span>
                    <span class="text-block">Tell us more about yourself</span>
                </p>
                <p>
                    <span class="third"></span>
                    <span class="text-block">Get an awesome prize!</span>
                </p>
            </div>
        </div>
        <div class="form-wrap">
            <form action="/" id="form-registration">
                <div class="wrap-all-fields">
                    <div class="wrap-field">
                        <label for="first-name">First Name</label>
                        <input type="text" id="first-name">
                        <p class="error-massage">enter First Name</p>
                    </div>
                    <div class="wrap-field">
                        <label for="last-name">Last Name</label>
                        <input type="text" id="last-name">
                        <p class="error-massage">enter Last Name</p>
                    </div>
                    <div class="wrap-field">
                        <label for="input-email">Email address</label>
                        <input type="text" id="input-email">
                        <p class="error-massage">enter Email</p>
                    </div>
                    <div class="wrap-field">
                        <label>Birthday</label>
                        <div class="wrap-birthday">
                            <select name="Birthday_day" id="birthday_day">
                                <option value="-1"></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                            <select name="birthday_month" id="birthday_month">
                                <option value="-1"></option>
                                <option value="January">Jan</option>
                                <option value="February">Feb</option>
                                <option value="March">Mar</option>
                                <option value="April">Apr</option>
                                <option value="May">May</option>
                                <option value="June">Jun</option>
                                <option value="July">Jul</option>
                                <option value="August">Aug</option>
                                <option value="September">Sep</option>
                                <option value="October">Oct</option>
                                <option value="November">Nov</option>
                                <option value="December">Dec</option>
                            </select>
                            <select name="birthday_Year" id="birthday_year">
                                <option value="-1"></option>
                                <option value="2012">2015</option>
                                <option value="2012">2014</option>
                                <option value="2012">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                                <option value="2009">2009</option>
                                <option value="2008">2008</option>
                                <option value="2007">2007</option>
                                <option value="2006">2006</option>
                                <option value="2005">2005</option>
                                <option value="2004">2004</option>
                                <option value="2003">2003</option>
                                <option value="2002">2002</option>
                                <option value="2001">2001</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                                <option value="1997">1997</option>
                                <option value="1996">1996</option>
                                <option value="1995">1995</option>
                                <option value="1994">1994</option>
                                <option value="1993">1993</option>
                                <option value="1992">1992</option>
                                <option value="1991">1991</option>
                                <option value="1990">1990</option>
                                <option value="1989">1989</option>
                                <option value="1988">1988</option>
                                <option value="1987">1987</option>
                                <option value="1986">1986</option>
                                <option value="1985">1985</option>
                                <option value="1984">1984</option>
                                <option value="1983">1983</option>
                                <option value="1982">1982</option>
                                <option value="1981">1981</option>
                                <option value="1980">1980</option>
                            </select>
                        </div>
                        <p class="error-massage">select Data</p>
                    </div>
                    <div class="wrap-field">
                        <label for="shoe-size">Shoe size</label>
                        <input type="text" id="shoe-size">
                        <p class="error-massage">enter Size</p>
                    </div>
                </div>
                <div class="submit-form-wrap">
                    <button type="submit" class="button-style">SAVE</button>
                </div>
            </form>
        </div>
    </div>
    <div class="bottom-buffer"></div>
</div>
<div class="footer">
    <span class="copy-right">&copy; Copyright Fancy Survey 2014. </span>
</div>
</body>
</html>