body {
    background: url('../img/background.png');
}
/* ------- HEADER  -------*/
.header {
    height: 68px;
    background: url('../img/header.png') repeat-x;
}
.block-header {
    max-width: 1100px;
    min-width: 900px;
    height: 75px;
    margin: 0px auto;
}
.logo {
    width: 341px;
    height: 75px;
    background: url('../img/logo.png') no-repeat;
    float: left;
}
/* ------- NAVIGATION ------- */
.navigation-menu {
    float: right;
    height: 100%;
    width: 545px;
}
.navigation-menu ul {
    position: relative;
    height: 35px;
    top: 17px;
}
.navigation-menu ul li {
    float: left;
    color: #fff;
    margin-left: 10px;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    text-transform: uppercase;
    cursor: pointer;
}
.navigation-menu ul li.current {
    color: #06a0a5;
}
.navigation-menu ul li span {
    position: absolute;
    top: 12px;
    margin-left: 17px;
}
.image-style-short {
    width: 82px;
    height: 35px;
}
.image-style-long {
    height: 35px;
    width: 142px;
}
/* ------- MAIN-CONTAINER ------- */
.main-container {
    max-width: 1100px;
    min-width: 900px;
    margin: 0px auto;
}
.form-wrap {
    width: 900px;
    height: 250px;
    background: #fff;
    border: 1px solid #ccc;
    margin: 0px auto 40px;
}
/* -------PRIZE INFO ------- */
.step-info {
    width: 900px;
    margin:0px auto;
}
.wrap-info {
    margin: 50px 0px;
}
.wrap-info h3 {
    text-transform: uppercase;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 0px 0px rgba(255, 255, 255, 1);
    padding-bottom: 20px;
    clear: both;
}
.wrap-info h3 span {
    color: #0b8185;
}
.wrap-info p {
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0px;
    position: relative;
}
.first, .second, .third {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    background: url('../img/numbers.png') no-repeat;
}
.first {
    background-position: 0px 0px;
}
.second {
    background-position: 0px -36px;
}
.third {
    background-position: 0px -71px;
}
.text-block {
    margin: 6px 0px 0px 30px;
    height: 25px;
    display: block;
}
/* ------- FORM STYLE ------- */
.wrap-field {
    clear: both;
    padding: 0px 0px 2px 0px;
    position: relative;
}
.wrap-field label {
    float: left;
    width: 120px;
    text-align: right;
    padding: 15px 12px 2px 10px;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.wrap-field input, .wrap-birthday select {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.wrap-field input {
    width: 208px;
}
#birthday_day {
    width: 67px;
}
#birthday_month {
    width: 78px;
}
#birthday_year {
    width: 83px;
}
.wrap-birthday select {
    width: auto;
    float: left;
    margin: 0px 3px 0px 0px;
}
.wrap-all-fields {
    margin: 30px 0px 0px 130px;
    width: 400px;
    float: left;
}
.submit-form-wrap {
    float: left;
    margin: 70px 0px 0px 90px;
}
.button-style {
/*font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;*/
    padding: 4px 15px 0px !important;
    font-size: 40px !important;
    background: url('../img/button_back.png') repeat-x;
    font-weight: bold;
    color: #ffffff;
    border: 0px solid #57D6C7;
    cursor: pointer;
}
/* ------- FOOTER ------- */
html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
.wrap-header-content {
  min-height: 100%;
}
.footer {
    position: relative;
    margin-top: -40px;
    height: 40px;
    background: #2f251b;
}
.copy-right {
    color: #fff;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 14px;
    display: block;
    width: 190px;
    padding-top: 14px;
    margin: 0px auto;
}
.bottom-buffer {
    height: 40px;
}
/* ------- ERRORS ------- */
.error-massage {
    color: #FF0000;
    position: absolute;
    right: -85px;
    top: 10px;
    visibility: hidden;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 14px;
    width: 100px;
    text-align: left;
}
.error-massage.show {
    visibility: visible;
}